* {
    margin: 0px;
    padding: 0px;
}

/* body{
    height: 100vh;
}

.containerInput{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#N-Rows, .C-Rows{
    margin-left: 10px;
    margin-right: 20px;
}

.Reset {
    width: 100px;
} */